<h1 class="userWelcome">Welcome to Mad Poems</h1>

{{#if user}}
    username: {{user.username}}
    <br></br>
    <a class="profilePageButton" href="/logout">LogOut</a>
    <a class="profilePageButton" href="/profile">Profile Page</a>
{{/if}}

<div class="container">
    <a class="profilePageButton" href="/login">Login</a>
    <br>
    <a class="profilePageButton" href="/register">Register</a>
     <br>
    
</div>

