<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>

<a href="/profile">Profile Page</a>
<select class="js-example-basic-single" name="state">
    {{#each authors}}
    <option class="selectedAuthor" value="{{this}}">{{this}}</option>
    {{/each}}

</select>

<div class="search-results"></div>
<!--<button class="authorSelected">Select Author</button>-->

<script>
    $(document).ready(function () {
        $('.js-example-basic-single').select2();


    });
    $.get("/ping", function (res) {
        console.log(res)
        console.log(res.name)
        $("body").append(res.name)
    })


    $('select').on('change', function () {
        console.log(this.value);
        $.post("/search", { author: this.value }, function (res) {
            //$("#results").html("")
            console.log(res.stories)
            let html = "";
            for (let i = 0; i < res.stories.length; i++) {
                var data_str = encodeURIComponent(JSON.stringify(res.stories[i]));
                
                //console.log(decodeURIComponent(data_str)) 
                html += `
                <div class="stories">
                    <h4>${res.stories[i].title}</h4>
                    ${console.log(res.stories[i].title)}
                    <p>${res.stories[i].lines.join("<br>")}</p>
                    <button data-storyId=${data_str} class="saveButton"> Save Story </button>
                    
                    </div>
                `
                //$("#results").append(res.stories[i].title)
                //$("#results").append(res.stories[i].lines.join("<br>"))
                //$("#results").append(`<button class="save">Save Story</button>`)
            }
            $(".search-results").html(html)

            //Click the Save button and the story ID number finds title and poem and posts them to profile page.
            $('.saveButton').click(function () {
                console.log(this)
                window.t = this; //So you can mess with it in the console 
                let obj = JSON.parse(decodeURIComponent($(this).data('storyid')))
                console.log('obj')

                console.log(obj)
                $.post("/saveStory", {story: JSON.stringify(obj)}, function (err, res) {
                    
                    console.log(err,res)       
                    window.location.href = 'profile' 
                })
            })
        });

    });


/*function pickAuthor(){
    $('.authorSelected').click(function(){
    console.log(".selectedAuthor")
    `<a href='http://poetrydb.org/author/${(".authorSelected").value()}'></a>`
    })
}
pickAuthor()*/

</script>
