body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
/*
* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 100%; }
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }
#messages { list-style-type: none; margin: 0; padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#messages { margin-bottom: 40px }


.public{
  padding-top: 10px;
  box-sizing: border-box;
  width: 50%;
  float:left;
}
*/
.story {

  display: none;
}

.user-words input{
  display: inline-block;
   width: 80%;
   margin: auto;
}
/*
.user-nouns{
float:right;
display: inline-block;
clear: right;
}
.user-verbs{
  float: left;
  display: inline-block;
  clear: left;
}

.user-adjectives{
float: center;
display: inline-block;
clear: center;
}

.user-words{
  color: lightblue;
  width: 100%;
  position: relative;
}
*/
.userWelcome{
  margin-left:7%;
}

h3{
  margin-left:7%;
}
.logOut{
  margin-left: 12%;
}
.searchStories{

  padding-left: 40px;

}
.listedStories{

  padding: 15px;
  padding-bottom: 30px;
  border: 2pt black solid;
  margin-top: 1%;
  position: relative;
}

.addButtons{
  width: 85%;
  padding: 5px;
  padding-bottom: 20px;

}
.public{

  margin-left: 20%;
  margin-right:20%;

}
.addNoun{
  
  width: 15%;
  margin-left: 25%;
}

.addVerb{
 
  width: 15%;
  margin-left: 4%;
}

.addAdjective{
 
  width: 15%;
  margin-left: 4%;
}

.remove{

  right: 20px;
  position: absolute;
  bottom: 5px;
}

.saveStory{

  left: 20px;
  position: absolute;
  bottom: 5px;
}

.nouns{

  color: blue;
}

.verbs{

  color:green;

}

.adjectives{

  color: red;
}

/* For the search Page  */

.search-results{
  color: black;
  text-align: center;
}

.searchPage{
  text-align: center;
  margin-right: 40%;
}