

body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff;
  background-image:
  linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  linear-gradient(#eee .1em, transparent .1em);
  background-size: 100% 1.2em;
}

a {
  color: #00B7FF;
}

.user-words{

  float: left;
  width: 50%;
}
.story {

  display: none;
}

.user-words input{
  display: inline-block;
   width: 80%;
   margin: auto;
}

.userWelcome{
  margin-left:7%;
}

h3{
  margin-left:7%;
}
.logOut{
 
    border: none;
    color:black !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
  margin-left: 8%;
}
.logOut:hover{
  color: white !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: black ;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.5s ease 0s;
}

.searchStories{
 
  border: none;
  color:black !important;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
margin-left: 12%;
}
.searchStories:hover{
color: white !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: black ;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.5s ease 0s;
}

.profilePageButton{
 
  border: none;
  color:black !important;
  font-weight: 100;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
margin-left: 12%;
}
.profilePageButton:hover{
color: white !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: black ;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.5s ease 0s;
}

.listedStories{
  list-style: none;
width: 50%;
float: left;
  padding: 15px;
  padding-bottom: 10px;
  margin-top: 1%;
  position: relative;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
:hover .listedStories{
 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  
}

.directions{
  width: 85%;
}
.addButtons{
  width: 85%;
  padding: 5px;
  padding-bottom: 20px;

}
.public{

  margin-left: 20%;
  margin-right:20%;

}
 
.addNoun{
  color: #fff !important;
  text-transform: uppercase;
  background:skyblue;
  padding: 5px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  width: 25%;
  margin-left: 4%;
}
.addNoun:hover {
  text-shadow: 0px 0px 6px blue;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }
.addVerb{
  color: #fff !important;
  text-transform: uppercase;
  background: lightgreen;
  padding: 5px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  width: 25%;
  margin-left: 4%;
}
.addVerb:hover {
  text-shadow: 0px 0px 6px green;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }
.addAdjective{
  color: #fff !important;
  text-transform: uppercase;
  background: lightcoral;
  padding: 5px;
  border-radius: 50px;
  display: inline-block;
  border: none;
  width: 25%;
  margin-left: 4%;
}
.addAdjective:hover {
  text-shadow: 0px 0px 6px red;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.4s ease 0s;
  }
.remove{

  right: 20px;
  position: absolute;
  bottom: 5px;
}

.saveStory{

  left: 20px;
  position: absolute;
  bottom: 5px;
}

.nouns{

  cursor: pointer;
  color: blue;
}

.nouns:hover{

  text-decoration: underline;
}

.verbs{
  cursor: pointer;
  color:green;

}

.verbs:hover{

  text-decoration: underline;
}

.adjectives{
  cursor: pointer;
  color: red;
}

.adjectives:hover{

  text-decoration: underline;
}

.popupOuter{
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 10000;
}

.button1, .button2{
  min-width: 100px;
  min-height: 100px;
  padding: 10px;
}
.closePopup{
  cursor: pointer;
  display: inline-block;
  width: 100px;
  height: 100px;

}
/* For the search Page  */

.popupInner{
  min-height: 300px;
  width: 600px;
  padding: 20px;
  margin: 50px auto;
  background: white;
}
.search-results{
  color: black;
  text-align: center;
}

.searchPage{
  text-align: center;
  margin-left: 10%;
}

.stories{

  width: 45%;
  float: left;
  padding: 5px;
  border: 1px solid skyblue;

}



/* Media Size styling */

@media only screen and (max-width 768px){

  .stories{
    width: 95%;
    float: left;
    border: 2px solid skyblue;
    margin: 1%;
    padding: 3px;
  }
}